site_name: HTTP Core
site_description: Do one thing, and do it well.
site_url: https://www.encode.org/httpcore

theme:
    name: 'material'

repo_name: encode/httpcore
repo_url: https://github.com/encode/httpcore/
edit_uri: ""

nav:
    - Introduction: 'index.md'
    - Developer Interface: 'api.md'

markdown_extensions:
  - admonition
  - codehilite
  - mkautodoc

extra_css:
    - css/custom.css
