-e .[http2]

# Optionals
trio
trio-typing
curio

# Docs
mkautodoc
mkdocs
mkdocs-material

# Packaging
twine
wheel

# Tests & Linting
autoflake
black==20.8b1
flake8
flake8-bugbear
flake8-pie
isort==5.*
mitmproxy
mypy
pytest
pytest-asyncio
pytest-cov
pytest-trio
trustme
uvicorn
