-e .[asyncio,trio,http2,socks]

# Docs
mkdocs==1.6.0
mkdocs-autorefs==1.0.1
mkdocs-material==9.5.27
mkdocs-material-extensions==1.3.1
mkdocstrings[python-legacy]==0.25.1
jinja2==3.1.4

# Packaging
build==1.2.2.post1
twine==6.1.0

# Tests & Linting
coverage[toml]==7.5.4
ruff==0.5.0
mypy==1.10.1
pytest==8.2.2
pytest-httpbin==2.0.0
pytest-trio==0.8.0
werkzeug<3.1  # See: https://github.com/psf/httpbin/issues/35
